/*
!/.vscode/
!/appdaemon/
/appdaemon/*
!/appdaemon/apps
__pycache__
!/configuration/
!/esphome/
/esphome/*/
/esphome/.gitignore
/esphome/secrets.yaml
!/lovelace/
!/screenshots/
!/themes/
!/zigbee2mqtt*/
/zigbee2mqtt*/*
!/zigbee2mqtt*/devices.yaml
!/zigbee2mqtt*/groups.yaml
!/.gitignore
!/configuration.yaml
!/readme.md
!/ui-lovelace.yaml